<header >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <nav id="main-nav">
 <div class="container" id="menuc">
  <a href="#demo" class="" data-toggle="collapse">&#9776;</a>
  <div id="demo" class="collapse">

    <div class="navbar-text pull-right" style="align-items: left">
    	  <li class="columns" ><a href="#home">WORK</a></li>
          <li class="columns"><a href="#news">SERVICE</a></li>
          <li class="columns"><a href="#contact">BLOG</a></li>
          <li class="columns"><a href="#about">CONTACTO</a> </li>
	</div>
  </div>
</div>
  <div class="navbar-text pull-right" id="menu" style="align-items: left">
		  <a href="#home">WORK</a>
		  <a href="#news">SERVICE</a>
		  <a href="#contact">BLOG</a>
		  <a href="#about">CONTACTO</a>

	</div>
</nav>

</header>
<body>
<div class="index">
	<div class="services">
		<div class="row">
			 <a class="row1"><div class="col-md-3"><img src="<%= asset_path 'shopping-cart.png' %>"> <br>eCommerce</div></a>
			  <a href=""><div class="col-md-3"><img src="<%= asset_path 'smartphone-call.png' %>"><br>Mobile Aplications</li></div></a>
			  <a href=""><div class="col-md-3"><img src="<%= asset_path 'work-tool.png' %>"><br>DevOps</div></a>
			   <a href=""><div class="col-md-3"><img src="<%= asset_path 'download.png' %>"><br>Software Development</div></a>
		</div>
	</div>
</div>
<div class="expanded">
	<div class="extext">
		<p>
			Boomer Digital provides an engaged, collaborative process while working with innovative open-source technologies. People are important to us, and we take the time to understand you and your business needs. We're here to help you design and execute clear, coherent IT and software strategies with ease.
		</p>
		<p>High Tech. High Touch.
	        Boomer.Digital</p>
 	</div>
</div>

<div class="columna" id="colm-1">
	<img src="<%= asset_path 'anun1.png' %>" alt="Avatar" class="image" style="width:100%">
	<span class="middle">
        <h4>Chipotle</h4>
        <a href="https://boomerdigital.net/portfolio/chipotle.html">
            View Details
        </a>
    </span>
</div>
<div class="columna">
	<img src="<%= asset_path 'anun2.png' %>" alt="Avatar" class="image">
	<span class="middle">
        <h4>Aloha</h4>
        <a href="https://boomerdigital.net/portfolio/chipotle.html">
            View Details
        </a>
    </span>
</div>
	<div class="columna">
	  	<img src="<%= asset_path 'anun3.png' %>" alt="Avatar" class="image">
	  	<span class="middle">
        <h4>Gather & Gown</h4>
        <a href="https://boomerdigital.net/portfolio/chipotle.html">
            View Details
        </a>
    </span>
</div>

<div id="clients" >
	<div class="col-md-2">
		<img src="<%= asset_path 'apron.png' %>" class="Portf" id="imgap">
	</div>
	<div class="col-md-2">
		<img src="<%= asset_path 'teeshirt1.png' %>" class="Portf" id="imgpf">
	</div>
	<div class="col-md-2">
		<img src="<%= asset_path 'mackW.png' %>" class="Portf">
	</div>
	<div class="col-md-2">
		<img src="<%= asset_path 'rock.png' %>" class="Portf">
	</div>
	<div class="col-md-2">
		<img src="<%= asset_path 'sherry1.png' %>" class="Portf">
	</div>
	<div class="col-md-2">
		<img src="<%= asset_path 'nourish1.png' %>" class="Portf">
	</div>

	<h5>Want to see more? <a href="/portfolio.html" target="_blank" class="button radius">Visit Our Portfolio</a></h5>
</div>
</body>



